html {
    width: 100%;
    overflow-x:hidden;
}
body {
    color: var(--screen-text);
    background: var(--screen-bg);
    font-family: var(--font-sans);
   font-size: 16px;
    letter-spacing: .05em;
    position: relative;
    font-optical-sizing: auto;
}
a,.a {
    color: var(--blue-accent);
    text-decoration: none;
   &:hover {
    text-decoration: underline;
   }
}
a.no-underline:hover {
    text-decoration:none; 
}
*,*:before,*:after {
    box-sizing:border-box;
}
img, svg {
	display: block;

}
sup,sub {
    font-size: 80%;
    line-height: 1;
    vertical-align: super;
}
sub {
    vertical-align: sub;
}
button {
    cursor: pointer;
}
input,textarea {
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
    color: var(--screen-text);
    background: var(--screen-bg);
    padding: 8px;
}
input:focus,textarea:focus {
    box-shadow: inset 1px 1px 0 var(--screen-text), inset -1px -1px 0 var(--screen-text);
}