.pin {
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  color: white;
  position: relative;
  border: 1px solid white; 
  box-sizing: content-box;
  line-height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 0 black;

}
.pin.light {
  color:black;
  border-color: black;
}
.pin.highlighted {
  transform: scale(1.2);
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}
.favoriteStar {
  position:absolute;
  right: -.15em;
  top: -.55em;
  width: .95em;
  height: .95m;
  fill:var(--screen-text);
  color:var(--screen-bg);
  animation: starRotate 4s linear infinite;;
}
.pin.favorited {
  background: none !important; 
  border-color:transparent;
  box-shadow: none; 
}
.starShape {
  position:absolute; 
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  
  animation: starRotate 8s linear infinite;
}

.starShape path {
  stroke:white;
  /*filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black) drop-shadow(-1px 1px 0 black) drop-shadow(1px -1px 0 black);*/
}
.starShape.light path {
  stroke: black; 
  /*filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white);*/
}

@keyframes starRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {transform: rotate(0deg);}
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}