.input {
  display: block;
  height: 40px;
  background: var(--screen-bg);
  border: 1px solid currentColor;
  color:currentColor;
  font-size: 16px;
  font-family: var(--font-sans);
  border-radius: var(--border-radius);

  padding: 12px;
  }
  .input::-webkit-input-placeholder {
    color:currentColor;
    opacity: .75
  }
  .smaller {
    box-shadow: 1px 1px 0 black;
    height: 32px;
    font-size: 13px; 
    border-radius: 3px; 
    line-height: 32px;
    padding: 0 12px
  }
  .input.raised {
    box-shadow: 4px 4px 0 var(--screen-black);
    border: 1px solid var(--screen-black);
    background:var(--screen-white);
    color:var(--screen-black);
  }