.input {
  display: block;
  height: 40px;
  background: var(--screen-bg);
  border: 1px solid currentColor;
  color:currentColor;
  font-size: var(--font-bigger);
  border-radius: var(--border-radius);
  line-height: 40px;
  padding: 0 var(--gutter);
  }
  .input::-webkit-input-placeholder {
    color:currentColor;
    opacity: .75
  }
  .smaller {
    box-shadow: 1px 1px 0 black;
    height: 32px;
    font-size: 13px; 
    border-radius: 3px; 
    line-height: 32px;
    padding: 0 12px
  }