.container {
  max-width: calc(8px * 35);
  padding: 16px;
}

.button {
  width: 28px;
  height:28px;
  margin:  4px 4px;
  border: 1px solid var(--screen-text); 
  border-radius:50%;
  font-size: 14px;
  vertical-align:middle;
}
.customButton {
  display:inline-block;
  position:relative; 
  background: var(--screen-text);
}
.paintIcon {
  width: 16px;
  height: 16px;
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.customButtonInput {
  opacity: 0;
  position:absolute;
  inset: 0;
  width:auto;
  height:auto; 
}
.button.selected {
  border-width: 3px; 
  box-shadow: inset 0px 0px 1px 1px var(--screen-bg)
}
@media(max-width: 600px) {
  .button {
    width: 64px;
    height: 64px;
    margin: 8px;
  }
  
  .container {
    padding-bottom: 48px;
    max-width: 100%;
  }
}