
.header {
  padding: calc(var(--gutter)* 0.75) var(--gutter);
  padding-bottom: 8px; 
  border-bottom: 1px solid var(--screen-text);
}
.title {
  line-height: 40px;
  font-weight: 600;
  font-family:var(--font-headline);
  font-size: 1.25em;
  cursor: pointer;
  margin-right: 12px;
  border-bottom: 1px solid transparent; 
}
.title.disabled {
  cursor:default;
}
.title.start:not(.disabled):hover {
  border-bottom: 1px solid var(--screen-text);
}
.sub {
  display: flex;
  align-items: center;
}
.editMapIconButton:hover:not(:disabled) .mapIcon{
  display: none
}

.editMapIcon {
  display:none; 
}
.editMapIconButton:hover:not(:disabled) .editMapIcon {
  display:block;
}
.editMapIconButton:disabled {
  cursor:default;
}