.layerPanel {
  position: fixed;
  left: 0;
  top: 0;
  width: 350px;
  background: white;
  border-right: 1px solid var(--screen-text);
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.layerSectionContainer {
  flex: 1;
overflow-y:hidden;
overflow-x:visible; 

width: 100%;
}