.pinItem {
  font-size: 13px;
  padding: 3px 2px;
  position:relative;
  border: 1px solid transparent;
  width: calc(100% + 4px);
  left: -2px;
  line-height: 1.4;
  border-radius: 2px ; 
  display: flex;
  align-items: center;
}
.pinItem.isActive {
  font-weight: 600;
  background:var(--screen-text);
  color:var(--screen-bg)
}
.pinItem.isDragging {
  border-color:currentColor; 
  background: var(--screen-bg); 
  box-shadow: 1px 1px 0 var(--screen-text)
}
.pinItem:hover, .pinItem.isHovering {
  border-color:var(--screen-text);
}
.pinFavorited {
  left: -6px;
  width: calc(100% + 8px)
}
.layerPin {
  width: 19px;
  height:19px; 
}
.layerPin.favorited {
  width: 23px;
  height: 23px; 
}
