.pinItem {
  font-size: 13px;
  padding: 3px 2px;
  position:relative;
  border: 1px solid rgba(0,0,0,0);
  width: calc(100% + 4px);
  left: -2px;
  line-height: 1.4;
  border-radius: 2px ; 
  display: flex;
  align-items: center;
}
.pinItem.active {
  border-color:black;
  font-weight: 600;
  background:black;
  color:white;
}
.pinItem.isDragging {
  border-color:black; background: var(--screen-bg); box-shadow: 1px 1px 0 var(--screen-text)
}
.pinItem:hover {
  border-color:black;
}