.modal {
  position:fixed;
  inset: 0;
padding: var(--gutter);
display:flex;
align-items: center;
justify-content: center;

}
.inner {
  background:var(--screen-bg); 
  border: 1px solid var(--screen-text);
  border-radius: var(--border-radius-xl);
  padding: calc(var(--gutter) * 1.25);
  transform: translateY(-16px);
  max-width: 100%
  
}
.header {
  padding-bottom: 16px;
  width: 100%;
}
.title {
font-size: 24px;
line-height: 28px;
font-family: var(--font-headline);
}