.button {
  width: 100%; 
  padding: 8px;
  font-size: 18px; 
}
.iconModal {
  background: var(--screen-bg) ;
  position: fixed;
  inset: 0px;

}
.pickerContainer {
  border: 1px solid;
  border-radius: var(--border-radius-xl);
  overflow:hidden;
}