.editPanelContainer {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  --padding: 16px;
}
.editPanelHeader {
  padding: 12px var(--gutter);
  border-bottom: 1px solid var(--screen-text);
  justify-content: space-between
}
.editPanelBody {
  flex:1;
  overflow:scroll;
  padding: var(--padding);


}
.textFieldContainer {
  margin-bottom: var(--gutter);
}
.textFieldContainer.noLabel {
  padding-top: 8px;
}
.textFieldLabel {
  display: block;
  margin-bottom: 6px;
}
.textFieldInput {
  display: block;
  width: 100%;
  background: var(--screen-bg);
  border: 1px solid var(--screen-text);
  color: var(--screen-text);
  padding: 12px; 
  font-size: 16px;
  border-radius: var(--border-radius);
}
.textFieldInput.textarea {
  font-size: 16px;
  line-height: 1.4;
}
.textFieldInput:focus {
  box-shadow: inset 0px -2px 0 var(--screen-text); 

}
.deleteQuestion {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 16px; 
  text-align: center;
}
.deleteButton {
  width: 100%; 
}
.deleteButtonContainer {
  padding: var(--gutter); 
}