.container {
  position: relative;
}
.select {
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.mask {
  border-radius: var(--border-radius);
  border: 1px solid; 
  padding: 8px;
  font-size: 16px;
  
}