.container {

  width: 100%;
}
.label {
  font-size:18px;
  padding-right: 12px; 
  text-align: left;
}
.switch {
  height: 30px;
  width: 60px;
  border-radius:15px;
  position:relative; 
}
.switch.on {
  background:var(--screen-text)
}
.nub {
  position:absolute; 
  left:3px;
  top: 3px;
  width: 22px;
  height: 22px;
  border-radius: 13px;
}
.nub.on {
  left: auto;
  right: 3px;
  background: var(--screen-bg)
}