.topMenu {
  position:fixed;
  right: 24px;
  top: 24px;
  display:grid;
  gap: 12px;
  grid-auto-flow: column;
  align-items: center;
}
.updater {
  width: 22px;
  height: 22px;
  justify-content: center;
  border-radius: 50%;
  background:var(--screen-bg);
}
