

.topMenu {
  position:fixed;
  right: 24px;
  top: 24px;
  display:grid;
  gap: 12px;
  grid-auto-flow: column;
  align-items: center;
}
.updater {
  width: 22px;
  height: 22px;
  justify-content: center;
  border-radius: 50%;
  background:var(--screen-bg);
}
@media(max-width:900px) {
    .allMapsButtonText {
        display: none;
    }
    .allMapsButton {
        height:42px;
        padding-left:8px;
        padding-right:6px;
    }
    .topMenu {
        right:auto;
        top:auto;
        left: 320px;
        bottom:36px;
        flex-direction:row-reverse;
        display: flex;
    }
}
