
.container {
  width: 350px; 
  padding-right: 12px;
  padding-bottom: 16px;
}
.title {
 font-weight: 600;
        font-size: 20px;
        flex: 1;
        padding-top:4px;
        font-family: var(--font-headline);
}
.closeButton {
display:block;
margin-left: var(--gutter);
font-size: 16px;
width: 24px;
height: 24px;
}

.displayDescription {
 min-height: var(--edit-description-height);
padding-top: 8px;
width: 100%;
white-space: pre-wrap; 
}
.displayDescription a {
  word-break: break-word;
}
.displayDescriptionInput {
 width: 100%;
  margin-top:8px;
  height: calc(var(--edit-description-height) - 8px);
  resize: none; 
  padding: 8px; 
}
.controls {
margin-top:8px;

}
.controlsDefault {
  justify-content: space-between;
}
.controlContainer {
 margin-right: 4px;  
}
.titleInput {

        width: 100%;
  padding: 8px; 
}

