
.container {
  width: 350px; 
  padding-right: 12px;
  padding-bottom: 16px;
}
.title {
 font-weight: 800;
        font-size: 16px;
        flex: 1;
        padding-top:4px
}
.closeButton {
display:block;
margin-left: var(--gutter);
font-size: 16px;
width: 24px;
height: 24px;
}

.displayDescription {
 min-height: var(--edit-description-height);
padding-top: 8px;
width: 100%;
white-space: pre-wrap; 
}
.displayDescriptionInput {
 width: 100%;
  margin-top:8px;
  height: calc(var(--edit-description-height) - 8px);
  resize: none; 
}
.controls {
margin-top:8px;
height:26px;  
}
.controlsDefault {
  justify-content: space-between;
}
.controlContainer {
 margin-right: 4px;  
}
.titleInput {
  height: 24px;
        width: 100%;
}

