.big-drop-shadow {
    box-shadow: 3px 3px 0px black
}
.sm-drop-shadow {
    box-shadow: 1px 1px 0 black;
}
.overflow-ellipsis {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.4;
}
.flex-1 {
    flex: 1;
    min-width: 0;
}
.display-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.flex-center {
    display:flex;
    align-items: center;
}
.flex-center-center {
    display:flex;
    align-items: center;
    justify-content: center;
}
.cursor-default {
    cursor:default;
}
.border-1 {
    border-width: 1px;
    border-style: solid;
}
.round-border {
    border-radius: var(--border-radius);
}