.drawerPanelHeader {
  padding: 0 16px;
}
.drawerPanelHeader.contentOpen {
  margin-top: 12px;
  border-bottom: 1px dotted;
}
.drawerPanelHeader > .title {
  margin-right: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 60px;
}
.drawerPanelHeader > .title.contentOpen {
  font-size: 16px;
  line-height: 48px;
}

.drawerPanel {
  position:fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
transform: translateY(100%);
transition: transform .125s;
background:var(--screen-bg);
border-top: 1px solid;
border-radius: var(--border-radius);
box-shadow: 0px -3px 0 black;
}
.drawerPanel.swipeable:before {
      display: block;
    content: "";
    position: absolute;
    border: 1px solid;
    width: 80px;
    height: 6px;
    border-radius: 3px;
    top: 8px;
    left: calc(50% - 40px);
}
.metadata {
  padding: 10px 16px 0px;
}
.description {
      padding: 16px;
    line-height: 1.4;
    overflow-wrap: break-word;
}
.bottomSection {
      flex: 1 1 0%;
    padding-bottom: 24px;
    overflow: hidden scroll;
}