.drawerPanelHeader {
  padding: 0 24px;
  padding-top: 20px;
}
.drawerPanelHeader.contentOpen {
  margin-top: 12px;
  border-bottom: 1px dotted;
}
.drawerPanelHeader > .title {
  margin-right: 8px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  font-family: var(--font-headline);
}
.drawerPanelHeader > .title.contentOpen {
  font-size: 16px;
  line-height: 48px;
}

.drawerPanel {
  position:fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
transform: translateY(100%);
transition: transform .125s;
background:var(--screen-bg);
border-top: 1px solid;
border-radius: var(--border-radius-xl);
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
box-shadow: 0px -4px 0 var(--screen-black);
}
.drawerPanel.swipeable:before {
      display: block;
    content: "";
    position: absolute;
    border: 1px solid;
    width: 80px;
    height: 6px;
    border-radius: 3px;
    top: 8px;
    left: calc(50% - 40px);
}
.metadata {
  padding: 12px var(--gutter) 0;
}
.description {

  font-size:16px;
    line-height: 1.4;
    padding-bottom:16px;
    overflow-wrap: break-word;
}
.bottomSection {
      flex: 1 1 0%;
     

  padding: 0 var(--gutter) 24px;
    overflow: hidden scroll;
}
.topSection {
  padding-top: var(--gutter);
  padding-bottom:16px;
}
.pinTitle {
  font-weight:600;
  font-family: var(--font-headline);
  font-size:28px; 
   border-bottom: 1px dashed;
  padding: 12px var(--gutter) 16px;
}
.layerTitle {
  font-size: 14px;
  padding-right: 12px; 
}
.dirButtons {
  display:flex; 
}
.dirButton {
  display:flex;
  flex-direction:column;
  justify-content: center; 
  align-items:center; 
  margin-right: 8px; 
  padding: 8px;
  font-size: 12px; 
}
.dirButton svg {
  width: 20px;
  height: 20px; 
}