.drawerPanelHeader {
  padding: 0 24px;
  padding-top: 20px;
}
.drawerPanelHeader.contentOpen {
  margin-top: 12px;
  border-bottom: 1px dotted;
}
.drawerPanelHeader > .title {
  margin-right: 8px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  font-family: var(--font-headline);
}
.drawerPanelHeader > .title.contentOpen {
  font-size: 16px;
  line-height: 48px;
}

.drawerPanel {
  position:fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
transform: translateY(100%);
transition: transform .125s;
background:var(--screen-bg);
border-top: 1px solid;
border-radius: var(--border-radius-xl);
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
box-shadow: 0px -4px 0 var(--screen-black);

}
.drawerPanel.swipeable:before {
      display: block;
    content: "";
    position: absolute;
    border: 1px solid;
    width: 80px;
    height: 6px;
    border-radius: 3px;
    top: 8px;
    left: calc(50% - 40px);
}
.metadata {
  padding: 12px var(--gutter) 0;
}
.description {

  font-size:16px;
    line-height: 1.4;
    padding-bottom:12px;
    overflow-wrap: break-word;
}
.bottomSection {
      flex: 1 1 0%;
display:flex;
flex-direction: column;
  padding: 0 var(--gutter);
  overflow:hidden;
}
.topSection {
  padding-top: var(--gutter);
  padding-bottom:16px;
}
.pinTitle {
  font-weight:600;
  font-family: var(--font-headline);
  font-size:28px; 
   border-bottom: 1px dashed;
  padding: 12px var(--gutter) 16px;
}
.layerTitle {
  font-size: 14px;
  padding-right: 12px; 
}
.dirButtons {
  justify-content: space-between; 
  display:flex; 
}
.dirButton {
  display:flex;
 
  align-items:center; 

  padding: 6px 8px;
  font-size: 10px;
  color: var(--screen-text);
  text-transform:uppercase; 
  border-width:1px; 
  width: 76px;

  border-radius: 9999px; 
  line-height:1;

}

.destinationIcon {

}
.destinationTime {
    color:var(--screen-text);
    padding-top:2px;
    padding-left: 2px; 
}
.dirButton svg {
  width: 16px;
  height: 16px; 
}
.contentPanel {
  max-height:100%; 
  overflow:hidden;
  display:flex;
  flex-direction:column; 
  padding-bottom: 36px;
}
.photoOuter {
  flex: 1;

}
.photoContainer {

  width: calc(100vw - var(--gutter));
  height: 100%;
}
.photo {
  max-width:calc(100vw - (var(--gutter) * 2) + 4px);
  padding-right: 4px;



  
  /*
  width: auto; 
  border-radius: var(--border-radius);
  max-width: calc(100% - var(--gutter));
  margin-right: 4px; 
  height:100%;
  flex: 0 0 100%;
  */
}
.img {
  width: auto;
  max-width:  100%;
  object-fit: cover;
  object-position: center center; 
  height: var(--container-height);
  border-radius: var(--border-radius);
}
.photoSkeleton {
  flex: 1;
  border-radius: var(--border-radius);
  border: 1px dashed; 
  display:flex; 
  align-items:center;
  justify-content: center; 
}
.photoPlaceholder {
  width: 64px;
  height: 64px; 
}
.containerFlex {
  display: flex;             /* Align <li> items in a row */
  overflow-x: auto;          /* Enable horizontal scrolling */
  overflow-y: hidden;        /* Prevent vertical scroll */
  white-space: nowrap;       /* Prevent wrapping */
  padding: 0;
  margin: 0;
  list-style: none;
  width: calc(100vw );
  height: 100%;
  position:relative;
  left: calc(var(--gutter) * -1);

}
.photoFlex {
   flex: 0 0 auto;  

}
.photoFlex:not(:last-child) {
  margin-right: 4px;
}
.photoFlex:last-child {
  margin-right: var(--gutter);
}
.imgFlex {
  flex: 0 0 auto;  
  height: 100%;
  width: auto; 
  max-width: calc(100vw  - var(--gutter)  - var(--gutter));
  border-radius: var(--border-radius);
  object-fit:cover;
  object-position: center center; 
  margin-right: 4px;
}
.spacer {
  flex: 0 0 auto;
  height: 100%; 
  width: calc(var(--gutter) - 4px);
}
.spacer.front {
  flex: 0 0 auto;
  height: 100%; 
  width: var(--gutter);
}
.imgPlaceHolder {
  border: 1px dotted;
  border-radius: var(--border-radius);
  position:relative;
  color: var(--screen-text);
  display:block;
}
.placeholderText {
  position:absolute;
  inset: 0;
  
}
.placeholderTextInner {
  width: 180px;
  

}
.placeholderTextInner span {
  
  white-space:normal; 
  text-align:center;
  font-size: 14px; 
  line-height: 1.5;
}
.phText {
  display:block;
}
.phicon {
  border: 1px solid var(--screen-bg);
  background: var(--screen-text);
  box-shadow: 1px 1px 0 var(--screen-text);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 0 auto; 
   margin-bottom: 8px; 

}
.phicon svg{
  width:24px;
  height: 24px;
  margin: 0 auto; 
}
.loaderHolder {
  margin-top: 8px;
  text-align:center;
}
.centerButton {
  position:absolute;
  right: var(--gutter);
  top: -44px;

}

.photoLoader {
    width: 36px;
    height: 36px;
    border: 5px solid var(--screen-text);
    border-bottom-style: dotted;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 