.container {
  padding: 24px;
}
.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: .25em;
}
.warning {
  font-size: 22px;
  font-weight: bold;
}
.form {
  padding-top: 24px;
}
.mapTitle {
  margin-top: 24px;
    font-weight: bold;
    font-size: 20px;
}
.mapList {
  list-style: none;
  margin-top: 16px;
}
.mapItem {
  margin-bottom: 16px; 
  font-weight: 600;
}
@media(max-width: 600px) {
  .title {
    font-size: 36px;
  }
  .warning {
    font-size: 18px;
  }
}
.trashButton {
  margin-left: 6px; 
  visibility: hidden;
}
.mapItem:hover .trashButton {
  visibility: visible;
}