.container {
  padding: 24px;
}
.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: .25em;
}
.warning {
  font-size: 22px;
  font-weight: bold;
}
.form {
  padding-top: 24px;
}
.mapTitle {
  margin-top: 24px;
    font-weight: bold;
    font-size: 20px;
}
.mapList {
  list-style: none;
  margin: 16px 0 ;
}

@media(max-width: 600px) {
  .title {
    font-size: 36px;
  }
  .warning {
    font-size: 18px;
  }
}
.mapItem {
margin-bottom: 12px; 
}
.mapItem.active {
  
  font-weight: 600;
  border: 1px solid;
  border-radius: var(--border-radius)
}
.mapLink.active {
  font-size: 20px;
  font-weight:bold;
  display: block;
  padding: 16px;  
}

.mapActions {
  
  justify-content: space-between;
  padding-top: 8px;
  
}
.mapActions.active {
padding: 6px 8px; 
border-top:1px solid; 
}

@media(min-width: 601px) {
  .mapListsContainer {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;
  }
  .activeMapContainer {
    grid-column-start: 1;
    grid-column-end: span 2; 
  }
}
@media(min-width: 930px) {
  .mapList.active {
    display:grid; 
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .mapItem.active {
    margin-bottom: 0;
  }
}
@media(min-width:1110px ) {
  .mapList.active {
    grid-template-columns: 1fr 1fr 1fr;
  }
}