.container {
  padding: var(--gutter);
  padding-top: calc(var(--gutter) * 1.5);
  padding-bottom: 120px; 
}
@media(min-width:600px) {
  .container {
    padding: calc(var(--gutter)* 2) var(--gutter-dt) 200px var(--gutter-dt);
    margin: 0 auto; 
    max-width: 1220px; 
  }

}
.title {
  font-size: 36px;
  line-height: 1; 
  font-weight: 800

}
.headlineIcon {
  display:block; 
  font-style: normal; 
  margin-bottom: 8px; 

}
@media(min-width: 600px) {
  .title {
    font-size: 42px;
  }

  .title br {
    display:none; 
  }
}
.warning {
  font-size: 22px;
  font-weight: bold;
}
.form {
  padding-top: var(--gutter)
}
.mapTitle {
  margin-top: var(--gutter);
    font-weight: bold;
    font-size: 20px;
}
.mapList {
  list-style: none;
  margin: 8px 0 var(--gutter) 0;
}
.archiveHeader {
  margin-top: 48px; 
}
.archiveList {
  position:relative;
  width: calc(100% + (var(--gutter) * 2));
  left: calc(var(--gutter) * -1);

}
.archiveList > li {
  border-bottom: 1px dashed var(--screen-text);
  padding: 8px 8px 8px var(--gutter);
}

@media(max-width: 600px) {

  .warning {
    font-size: 18px;
  }
}
.mapItem {
margin-bottom: 12px; 
}
.mapItem.active {
  
  font-weight: 600;
  border: 1px solid;
  border-radius: var(--border-radius-md)
}
.cardText {
  padding: 16px 12px 12px 12px;
}
.mapLink.active {
  font-size: 20px;
  display: block;
  line-height: normal; 
  color: var(--screen-text);
}
.cardCount {
  font-size: 14px;
  line-height:normal;
  margin-top: 0px;
}

.mapActions {
  
  justify-content: space-between;
  padding-top: 8px;
  
}
.mapActions.active {
padding: 8px 12px; 
border-top:1px solid; 
}
.activeMapList {
  padding-top: 24px;
  display:grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 12px;
 
}

@media(min-width: 601px) {
  .mapListsContainer {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gutter-dt);
  }
  .activeMapContainer {
    grid-column-start: 1;
    grid-column-end: span 2; 
  }
  .headline-style {
    margin-top: 0;
  }
  .archiveHeader {
    margin: 24px 0 0 0;
  }
  .archiveList {
    position:static;
    width: auto; 
    margin-top: 8px; 
  }
  .archiveList > li {
    padding-left: 0;
    padding-right: 0;
  }

}
@media(min-width: 930px) {
  .activeMapList {
    display:grid; 
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) ;
    gap: var(--gutter);
  }
  .mapItem.active {
    margin-bottom: 0;
  }
}
@media(min-width:1110px ) {
  .mapList.active {
    grid-template-columns: 1fr 1fr 1fr;
  }
}