

.button {
color:var(--screen-bg);
background: var(--screen-text);
border:1px solid var(--screen-text);
border-radius: var(--border-radius-md);
padding: 11px 12px 12px 12px;
line-height: 1em;
position: relative;
justify-content: center;
font-size:14px;
overflow:hidden; 
}
.button.disabled {
  pointer-events: none; 
}
.button.raised {
  box-shadow: 1px 1px 0px var(--screen-text);
  border: 1px solid currentColor;
}
.button.round {
  border-radius: 100%; 
}
.button.pill {
  border-radius:999px; 
}
.button.caution {
  --screen-text: var(--caution-color);
}
.button.icon {
  padding: 0px;
  width: 40px;
  height: 40px; 
}
.button.icon.sm {
  width: 32px;
  height: 32px;
}
.button.icon svg {
  width: 20px;
  height: 20px;
}
.secondary {
  border: 1px solid currentColor;
}

.secondary,.ghost {
  background:var(--screen-bg);
box-shadow:none;
color: var(--screen-text);
}
.secondary.caution,.ghost.caution {
  color: var(--caution-color);
  background: none
}
.sm {
  font-size: 14px;

padding: 5px 12px 6px 12px;

border-radius: 500px;

}
.md {
  font-size:16px;
  line-height:24px;
  padding: 15px;
  font-weight: var(--font-semibold);
}
.big {
  font-size: 16px;
  
  padding: 16px;
  min-width: 200px;
  border-radius:500px;
  text-align: center;
}
.ghost {
  background:none;

  padding-left: 0;
  padding-right: 0;

  box-shadow:none;
  border-color:transparent;
}



.button .icon:not(.noText) {
  margin-right: 8px; 
}
.button.sm .icon:not(.noText) {
  margin-right: 4px
}

.icon.noText {
  margin-right: 0;
}

.icon svg {
  width: 20px;
  height: 20px;
}
.button.big .icon svg, .button.md .icon svg {
  width:24px;
  height:24px;
}

.disabledFill {
  position:absolute;
  inset: 0;
  pointer-events: none ; 
}

.button.FAB {
  position:fixed;
  right: calc(var(--gutter) * 1.5);
  bottom: calc(var(--gutter) * 1.5);
}

