.button {
color:var(--screen-bg);
background: var(--screen-text);
border: 1px solid currentColor;
border-radius: 3px;
padding: 5px 6px 6px 6px;
line-height: 1em;
box-shadow: 1px 1px 0px var(--screen-text);
justify-content: center;
font-size:14px;
}
.button.caution {
  --screen-text: var(--caution-color);
}

.secondary,.ghost {
  background:var(--screen-bg);
box-shadow:none;
color: var(--screen-text);
}
.secondary.caution,.ghost.caution {
  color: var(--caution-color);
  background: none
}
.sm {
  font-size: 11px;
text-transform:uppercase;
padding: 3px 4px 4px 4px;
font-weight: 600;
}
.big {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 12px 12px 12px;
  text-align: center;
}
.ghost {
  background:none;

  padding-left: 0;
  padding-right: 0;
  border: 0;
  box-shadow:none;
}



.icon {
  margin-right: 3px; 
}
.icon.noText {
  margin-right: 0;
}

.icon svg {
  width: 1.25em;
  height: 1.25em;
}
