.modal {
  position:fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: var(--screen-bg);
display:flex;
align-items: center;
justify-content: center;
z-index: 9999;
}
.inner {
  background:var(--screen-bg); 
  border: 1px solid var(--screen-text);
  border-radius: var(--border-radius);
  padding: 10px 16px 16px 16px;
  transform: translateY(-16px);
}
.header {
  padding-bottom: 16px;
  width: 100%;
}
.title {
font-size: 18px;
font-weight: 600;
}