.container {
  max-width: calc(8px * 35);
  padding: 16px;
}

.button {
  width: 28px;
  height:28px;
  margin:  4px 4px;
  border: 1px solid var(--screen-text); 
  border-radius:50%;
  font-size: 14px;
  vertical-align:middle;
  font-size: 16px;
}
.customButton {
  display:inline-block;
  position:relative; 
  background: var(--screen-text);
}
.paintIcon {
  width: 1em;
  height: 1em;
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.customButtonInput {
  opacity: 0;
  position:absolute;
  inset: 0;
  width:auto;
  height:auto; 
}
.button.selected {
  border-width: 3px; 
  box-shadow: inset 0px 0px 1px 1px var(--screen-bg)
}

.pickerPalette {
  padding: 8px;
}
.hexInput {
  width: calc(100% - 16px);
  margin-left: 8px; 
}
.pickerButtonContainer {
  margin:8px;
}
.pickerButtonContainer .pickerButton:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 2px; 
}
.pickerButtonContainer .pickerButton:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 2px; 
}
@media(max-width: 600px) {
  .button {
    width: 64px;
    height: 64px;
    margin: 8px;
    font-size: 36px;
  }
  
  .container {
    padding-bottom: 48px;
    max-width: 100%;
  }
  .pickerPalette {
    width: 100% !important;
  }
}