.inputContainer,.inputContainerFocused {
  flex: 1;
  border:1px solid var(--screen-black);
  margin-right: var(--gutter);
  margin-left: 8px; 
  display: flex;
  color: var(--screen-black);
}
.inputContainerFocused {
  border-color:transparent; 
}
.inputContainer {
  flex:1;
  background:var(--screen-white);
  border:1px solid var(--screen-black);
  font-size: var(--font-bigger);
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 0 var(--screen-black);
  display: flex;
  align-items:center; 
  margin-right: var(--gutter);
  margin-left: 8px; 
  border-radius: 500px;
  color: var(--screen-black);
  padding-right: 4px;
  position:relative; 
}

.searchStarter {
  color: var(--screen-black);
}
.searchInput {
  border: 0;
  background: transparent;
  color: var(--screen-black);
  display: block;
  
  line-height: 24px;
  padding: 12px 0 12px var(--gutter);
  font-size: 16px;
}
.searchInput.focused {
  color:var(--screen-text);
  border: 0;
  box-shadow: none; 
}

.pinOuter {
  flex: 1;
  overflow-x:hidden;
  overflow-y: scroll;
  padding-top:8px;
}
.searchItemIcon {
  margin: 0 12px 0 16px; 
  width: 32px

}
.searchItemTitle {
  padding: 12px 8px 12px 0;
  min-width: 1px;
  flex: 1;
  font-size: 14px;
}
.searchItem:not(:last-child) .searchItemTitle {
  border-bottom: 1px dashed
}
.searchHR {
  border-width: 1px 0 0 0;
  border-color: var(--screen-text);
  border-style: dashed;
}