.legendSection {
  padding: 10px 16px;
}
.legendSectionheader {
  padding-bottom: 8px; 
}
.legendSectionheaderCheckBox {
  width: 24px;
  padding-top: 4px;
}
.legendSectionheaderTitle {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
}
.pins {
  margin-left: 24px;
}
.legendSectionPin {
  padding: 4px 2px;
  border-radius: 3px;
  position: relative;
  width: calc(100% + 4px);
  left: -2px;
}
.legendSectionPin.active {
background:white;
color: black;
font-weight: 700;
}
.legendSectionPin.disabled {
opacity: .5;
pointer-events: none;
}



.pinName {
  margin-left: 4px;
    line-height: 1.4;
}


.expandButton {
  margin-top: 6px;
}

.legend {
  position:fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background:black; 
transform: translateX(-100%);
transition: transform .15s;
display: flex;
flex-direction:column;
}
.legend.open {
  transform: translateX(0%);
}
.legendHeader {
  padding: 24px 16px;
    border-bottom: 1px solid ;
}
.legendHeaderButton {
  margin-left: 8px; 
}
.legendTitle {
  font-size: 20px;
      font-weight: 700;
}
.legendSections {
  padding-bottom: 36px;
    overflow: auto; 
}