.legendSection {
  padding: 10px 24px;

}
.sectionDivider {
  background:none;
  height: 1px;
  border: 1px dashed currentColor; 
  border-width: 1px 0 0 0; 
  margin: 16px 0 16px 48px;
}
.legendSectionheader {
  padding-bottom: 8px; 
  
}
.legendSectionheaderCheckBox {
  width: 24px;
  padding-top: 4px;
}
.legendSectionheaderTitle {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  padding-right: 8px; 
}
.pins {
  margin-left: 24px;

}
.legendSectionPin {
  padding: 8px 2px;
  border-radius: 3px;
  position: relative;
  width: calc(100% + 4px);
  left: -2px;
}
.legendSectionPin.active {
background:var(--screen-text);
color: var(--screen-bg);
font-weight: 700;
}
.legendSectionPin.disabled {
opacity: .5;
pointer-events: none;
}
.pinIcon {
  position:relative;
  width: 24px; 
}


.pinName {
  margin-left: 4px;
    line-height: 1.4;
    font-size: 14px;
}



.expandButton {
  margin-top: 6px;
}

.legend {
  position:fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index:999;
background:var(--screen-bg); 
transform: translateX(-100%);
transition: transform .15s;
display: flex;
flex-direction:column;
padding-bottom:48px; 
}
.legend.open {
  transform: translateX(0%);
}
.legendHeader {
  padding: 16px var(--gutter) ;
    border-bottom: 1px solid ;

}
.legendHeaderButton {

  position:relative;
  top:2px;
}
.legendTitle {
  font-size: 28px;
  font-weight:600;
  font-family: var(--font-headline);
  line-height: 1;
}
.legendSections {
  padding-bottom: 20px;
  padding-top: 20px;
    overflow: auto; 
}

.editingSection {
  position:fixed;
  inset: 0;
  background: var(--screen-bg);
  display: flex;
  flex-direction: column;
}
.editingBody {
  flex:1;
  overflow:auto;
  padding: var(--gutter)
}
.layerColorContainer {
  position: relative;
  display: flex;
 
  border-radius: var(--border-radius);

  align-items: center;
}
.layerColorPickerIcon {
  width:40px;
  height:40px;
  border-radius: 99999px;
  margin-right: 8px;
  border:1px solid
}

.layerColorInput {
  position: absolute;
  inset: 0;
  opacity: 0;
  display:block;
  width: 100%;
  height: 100%;
}

.addSection {
  padding: var(--gutter);
  display:flex;
  justify-content:flex-end;
  width:100%;
}
.layerAddButton {
  position:fixed;
  right: var(--gutter);
  bottom: var(--gutter);
}
.settingsIcon {
  position:fixed;
  left: var(--gutter);
  bottom: var(--gutter);
}
.legendEditDelete {
  padding-top: var(--gutter);
}
.disabledText {
  font-size: 11px;
  text-transform:uppercase; 
  margin-top:4px; 
}
.legendPin {
  width: 19px;
  height: 19px; 
}
.legendPin.favorited {
  width: 23px;
  height: 23px; 
}

