.legendSection {
  padding: 10px 24px;
  
}
.sectionDivider {
  background:none;
  height: 1px;
  border: 1px dashed currentColor; 
  border-width: 1px 0 0 0; 
  margin: 16px 0 16px 48px;
}
.legendSectionheader {
  padding-bottom: 8px; 
}
.legendSectionheaderCheckBox {
  width: 24px;
  padding-top: 4px;
}
.legendSectionheaderTitle {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
}
.pins {
  margin-left: 24px;

}
.legendSectionPin {
  padding: 8px 2px;
  border-radius: 3px;
  position: relative;
  width: calc(100% + 4px);
  left: -2px;
}
.legendSectionPin.active {
background:white;
color: black;
font-weight: 700;
}
.legendSectionPin.disabled {
opacity: .5;
pointer-events: none;
}



.pinName {
  margin-left: 4px;
    line-height: 1.4;
    font-size: 14px;
}


.expandButton {
  margin-top: 6px;
}

.legend {
  position:fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index:999;
background:var(--screen-bg); 
transform: translateX(-100%);
transition: transform .15s;
display: flex;
flex-direction:column;
}
.legend.open {
  transform: translateX(0%);
}
.legendHeader {
  padding: 24px ;
    border-bottom: 1px solid ;
}
.legendHeaderButton {
  margin-left: 8px; 
}
.legendTitle {
  font-size: 32px;
  font-weight:600;
  font-family: var(--font-headline);
}
.legendSections {
  padding-bottom: 86px;
  padding-top: 20px;
    overflow: auto; 
}

.editingSection {
  position:fixed;
  inset: 0;
  background: var(--screen-bg);
  display: flex;
  flex-direction: column;
}
.editingBody {
  flex:1;
  overflow:auto;
  padding: var(--gutter)
}
.layerColorContainer {
  position: relative;
  display: flex;
 
  border-radius: var(--border-radius);

  align-items: center;
}
.layerColorPickerIcon {
  width:40px;
  height:40px;
  border-radius: 99999px;
  margin-right: 8px;
  border:1px solid
}

.layerColorInput {
  position: absolute;
  inset: 0;
  opacity: 0;
  display:block;
  width: 100%;
  height: 100%;
}

.addSection {
  position:fixed;
  right: 24px;
  bottom: 24px;
}