.locationDetails {
  border: 1px dotted currentColor;
padding: 12px 16px;
margin-top: 8px;
font-size: 12px;
overflow-wrap: break-word;
border-radius: calc(var(--border-radius) / 2)
}
.item {
  margin: 8px 0;
}
.svg {
  width: 1em;
  height: 1em;
  margin-right:6px;
}
.openOrNot {
  font-size:11px;
  text-transform:uppercase;

}
.openOrNotClosed {
  color: var(--caution-color);
}